.idea/
__pycache__/
.DS_Store

lolaom_dilemmas/
lolaom_ST_space/
lolaom_IPD_SG_space/
lolaom_policy_init/
lolaom_rollouts_small/

lolaom_ST_space.zip
lolaom_dilemmas.zip
lolaom_IPD_SG_space.zip
lolaom_policy_init.zip
lolaom_rollouts_small.zip

How the S and T affect the final policy of the agents in the IPD game.pdf
